<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head th:include="header_common::header">
    <title id="pageTitle">AlgorithmEx - Factorial</title>
</head>
<body>
<nav th:replace="~{header_common :: navSection}" class="navbar navbar-inverse"></nav>
<div class="container">

    <div class="col-12">
        <div class="errorMessage" style="text-align:left;">
            <p th:text="${exception}" > </p>
        </div>
    </div>

    <div class="bottomTopMargin">
        <div class="row">
            <div class="col-4" style="text-align:left;">
                <form th:object="${algorithmData}" th:action="@{/factorial}" class="form-horizontal" action="#" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <div class="form-group">
                            <div class="col-8" style="text-align:left;">
                                <input style="border:1px solid grey;" name="value"  th:field="*{value}" id="value" class="form-control" maxlength="255">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="optionIterative" name="optionIterative" class="custom-control-input" value="1" th:field="*{type}">
                                <label class="custom-control-label" for="optionIterative">iterative</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="optionRecursive" name="optionRecursive" class="custom-control-input" value="2" th:field="*{type}">
                                <label class="custom-control-label" for="optionRecursive">recursive</label>
                            </div>
                        </div>

                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div>
        <h4 th:if="${algorithmData.type == 1 && algorithmData.value != ''}" th:text="|Result iterative: ${#numbers.formatDecimal(result, 0,T(Math).round(result) == result ? 0 : 0,'POINT')}|"> </h4>
    </div>

    <div>
        <h4 th:if="${algorithmData.type == 2 && algorithmData.value != ''}" th:text="|Result recursive: ${#numbers.formatDecimal(result, 0,T(Math).round(result) == result ? 0 : 0,'POINT')}|"> </h4>
    </div>

    <div>
        <div th:each="line,iter : ${algorithm}">
            <p th:utext="|${iter.index+1} : ${line}|"></p>
        </div>
    </div>

    <div>
        <p> </p>
    </div>
</div>
</body>
</html>