<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head th:include="header_common::header">
    <title id="pageTitle">AlgorithmEx - Graph Consistency</title>
</head>
<body>
<nav th:replace="~{header_common :: navSection}" class="navbar navbar-inverse"></nav>
<div class="container">

    <div class="col-12">
        <div class="errorMessage" style="text-align:left;">
            <p th:text="${exception}" > </p>
        </div>
    </div>

    <div class="col-12">
        <p th:utext="|Row number is vertex, 1 edge exist, 0 edge not exist <br> Input form example: <br> 0 1 0 <br> 1 0 1 <br> 0 1 0 |"> </p>
    </div>

    <div class="bottomTopMargin">
        <div class="col-12" style="text-align:left;">
            <form th:action="@{/graphConsistency}" class="form-horizontal" action="#" method="post" enctype="multipart/form-data">
                <div class="col-8" style="text-align:left;">
                    <div style="text-align:left;">
                        <label for="file"> File to upload: &nbsp; </label>
                        <input type="file" name="file" id="file" />
                    </div>
                </div>

                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </div>

    <div class="col-12">
        <p th:if="${fileName != '' and fileName != null}" th:text="|File name: ${fileName}|"> </p>
        <div th:if="${fileContent != '' and fileContent != null}">
            <p th:if="${result != ''}" th:text="|Content: |" > </p>
            <div th:each="line,iter : ${fileContent}">
                <p th:if="${iter.index == 0}" th:text="|c : ${line}|"></p>
                <p th:if="${iter.index != 0}" th:text="|${iter.index} : ${line}|"></p>
            </div>
        </div>
    </div>

    <div class="col-12">
        <h4 th:if="${result != ''}" th:text="|Result: ${result}|"> </h4>
    </div>

    <div class="col-12">
        <div class="row">
            <div class="column">
                <div th:each="line,iter : ${firstPartAlgorithm}">
                    <p th:utext="|${iter.index+1} : ${line}|"></p>
                </div>
            </div>
            <div class="column">
                <div th:each="line,iter : ${secondPartAlgorithm}">
                    <p th:utext="|${iter.index+secondPartIndex+1} : ${line}|"></p>
                </div>
            </div>
        </div>
    </div>

    <div>
        <p> </p>
    </div>
</div>
</body>
</html>