<head th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <title th:include=":: #pageTitle">AlgorytmEx</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</head>


<nav th:fragment="navSection"  class="navbar navbar-inverse navbar-expand-lg justify-content-center navbar-dark bg-dark">

    <a class="navbar-brand" href="/"><img th:src="@{/files/logo.png}" width="30" height="30" class="d-inline-block align-top" th:alt="logo"> AlgorithmEx</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" th:href="@{/factorial}">Factorial</a>
            <a class="nav-item nav-link" th:href="@{/palindrome}">Palindrome</a>
            <a class="nav-item nav-link" th:href="@{/bubbleSort}">Bubble Sort</a>
            <a class="nav-item nav-link" th:href="@{/graphConsistency}">Graph Consistency</a>
        </div>
    </div>
</nav>