<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head th:include="header_common::header">
    <title id="pageTitle">AlgorithmEx - Palindrome</title>
</head>
<body>
<nav th:replace="~{header_common :: navSection}" class="navbar navbar-inverse"></nav>
<div class="container">

    <div class="col-12">
        <div class="errorMessage" style="text-align:left;">
            <p th:text="${exception}" > </p>
        </div>
    </div>

    <div class="bottomTopMargin">
            <div class="col-12" style="text-align:left;">
                <form th:object="${algorithmData}" th:action="@{/palindrome}" class="form-horizontal" action="#" method="post" enctype="multipart/form-data">
                    <div th:if="${algorithmData.type == 1 }" class="form-group">
                        <div class="col-8" style="text-align:left;">
                            <input style="border:1px solid grey;" name="value"  th:field="*{value}" id="value" class="form-control" maxlength="255">
                        </div>
                    </div>

                    <div class="col-8" style="text-align:left;">
                        <div class="row" style="text-align:left;">
                            <p style="width:100px;" > Read from: &nbsp; </p>

                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="optionInput" name="optionInput" class="custom-control-input" value="1" th:field="*{type}">
                                <label class="custom-control-label" for="optionInput">input</label>
                            </div>
                            <div class="custom-control custom-radio custom-control-inline">
                                <input type="radio" id="optionFile" name="optionFile" class="custom-control-input" value="2" th:field="*{type}">
                                <label class="custom-control-label" for="optionFile">file</label>
                            </div>

                            <div th:if="${algorithmData.type == 2 }" style="text-align:left;">
                                <label for="file"> File to upload: &nbsp; </label>
                                <input type="file" name="file" id="file" />
                            </div>
                        </div>
                    </div>

                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
            </div>
    </div>

    <div class="col-12" th:if="${algorithmData.type == 1}">
        <p th:if="${algorithmData.value != '' and algorithmData.value != null}" th:text="|Read from input: ${algorithmData.value}|"> </p>
    </div>

    <div class="col-12" th:if="${algorithmData.type == 2}">
        <p th:if="${fileName != '' and fileName != null}" th:text="|File name: ${fileName}|"> </p>
        <p th:if="${fileContent != '' }" th:text="|Content: ${fileContent}|"> </p>
    </div>

    <div class="col-12" >
        <p th:if="${value != null}"  th:text="|Data for algorithm: ${value}|" ></p>
    </div>

    <div class="col-12">
        <h4 th:if="${algorithmData.type == 1 && result != ''}" th:text="|Result from input: ${result}|"> </h4>
        <h4 th:if="${algorithmData.type == 2 && result != ''}" th:text="|Result from file: ${result}|"> </h4>
    </div>

    <div class="col-12">
        <div th:each="line,iter : ${algorithm}">
            <p th:utext="|${iter.index+1} : ${line}|"></p>
        </div>
    </div>

    <div>
        <p> </p>
    </div>
</div>
</body>
</html>