<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head th:include="header_common::header">
    <title id="pageTitle">AlgorithmEx - Welcome Page</title>
</head>
<body>
<nav th:replace="~{header_common :: navSection}" class="navbar navbar-inverse"></nav>
<div class="container">
    <div class="errorMessage" style="text-align:center;">
        <p th:text="''" > </p>
    </div>

    <div class="bottomTopMargin" style="text-align:center;">
        <h4 th:text="|Welcome in Algorithm Example App|" > </h4>
    </div>
</div>
</body>
</html>