div.leftMargin {
        margin-left: 100px;
    }

div.bottomTopMargin{
        margin-top: 10px;
        margin-bottom: 10px;
    }

div.topMargin{
        margin-top: 40px;
    }

div.loginFormMargin{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 50px;
        margin-right: 50px;
    }

div.lowerLoginFormMargin{
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 30px;
        margin-right: 30px;
    }

div.errorMessage {
        font-size: 15px;
        font-style: italic;
        color: red;
     }

thead{
        font: 20px arial;
     }

td.widthColumn{
        max-width: 30em;
        word-wrap: break-word;
     }

span.error{
        color: red;
    }
